@font-face {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B', sans-serif; 
    background: url('../images/back.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

/* 상단바 스타일 */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #8a0017;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 70px;
  }

 header img {
    width: 50px;
}

/* 메인 콘텐츠 스타일 */
.main-content {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    
}

.main-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.buttons {
   
    display: flex;
    flex-direction: column;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 70%;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* 슬라이드 메뉴 스타일 */
.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #8a0017;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 150;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}